
/.emacs.desktop
/.ensime
*.class
*.jar
*.log
*~
*#
.emacs.desktop.lock
experiments.scalaScript
continue.txt

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# Idea project files
.idea*

# herald uses the directory name, this is a symlink
ScalesXml/

# idea project files
.idea*

# eclipse
.classpath
.project
.settings
.cache
