body {
    margin-left: 20%;
    margin-right: 20%;
}

* {
	color: inherit;
	text-decoration: none;
	font-family: sans-serif;
	margin-bottom: 2px;
	margin-top: 2px;
}

a {
	cursor: pointer;
	color: blue;
}

a:hover {
	text-decoration: underline;
}

h1,h2,h3 {
	display: block;
	color: white;
	padding: 1px 4px 1px 0.5em;
	font-weight: bold;
}

h1 {
    background-color: #2C475C;
}
h2 {
    background-color: #7996ac;
}
h3 {
    background-color: #e5e5e5;
    color : grey;
    font-weight: normal;
}

.stacktrace {
    margin-left: 1em;
    margin-top: 1em;
}